In [4]:
import numpy as np
import pandas as pd

In [6]:
movies_df = pd.read_csv("movies_metadata.csv")
credits_df = pd.read_csv("credits.csv")
keywords_df = pd.read_csv("keywords.csv")

/tmp/ipykernel_6901/3659961608.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv("movies_metadata.csv")

In [7]:
keywords_df["id"] = keywords_df["id"].astype(str)
movies_df["id"] = movies_df["id"].astype(str)
movies_df = movies_df.merge(keywords_df, on="id")

In [22]:
credits_df["id"] = credits_df["id"].astype(str)
movies_df = movies_df.merge(credits_df, on="id")
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,keywords,cast_x,crew_x,cast_y,crew_y
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,"[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46933,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,Subdue,False,4.0,1.0,"[{'id': 10703, 'name': 'tragic love'}]","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
46934,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,NaN,Century of Birthing,False,9.0,3.0,"[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
46935,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,Betrayal,False,3.8,6.0,[],"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
46936,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,NaN,Satan Triumphant,False,0.0,0.0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...","[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
46937,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,NaN,Queerama,False,0.0,0.0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [24]:
movies_df.isna().sum()

adult                        0
belongs_to_collection    42330
budget                       0
genres                       0
homepage                 38883
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   995
popularity                   4
poster_path                399
production_companies         4
production_countries         4
release_date                88
revenue                      4
runtime                    268
spoken_languages             4
status                      86
tagline                  26023
title                        4
video                        4
vote_average                 4
vote_count                   4
keywords                     0
cast_x                       0
crew_x                       0
cast_y                       0
crew_y                       0
dtype: int64

In [26]:
movies = movies_df[["id","genres","overview","title","keywords","cast_x","crew_x"]]
numerical_df=movies_df[["id","popularity","vote_average","vote_count"]]

In [28]:
movies.dropna(inplace=True)

/tmp/ipykernel_6901/3786870272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace=True)

In [30]:
#checking for duplicated data
movies.duplicated().sum()
movies = movies.drop_duplicates()

In [32]:
#getting genres as a list

import ast
def giveList(obj):
    result = []
    for i in ast.literal_eval(obj):
        result.append(i["name"])
    return result

In [34]:
movies["keywords"] = movies["keywords"].apply(giveList)
movies["genres"] = movies["genres"].apply(giveList)

In [36]:
movies

,id,genres,overview,title,keywords,cast_x,crew_x
0,862,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,Jumanji,"[board game, disappearance, based on children'...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,31357,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[based on novel, interracial relationship, sin...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,11862,[Comedy],Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...
46933,439050,"[Drama, Family]",Rising and falling between a man and woman.,Subdue,[tragic love],"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
46934,111109,[Drama],An artist struggles to finish his work while a...,Century of Birthing,"[artist, play, pinoy]","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
46935,67758,"[Action, Drama, Thriller]","When one of her hits goes wrong, a professiona...",Betrayal,[],"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
46936,227506,[],"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
46937,461257,[],50 years after decriminalisation of homosexual...,Queerama,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [38]:
#to get the actors list

def getActorList(obj):
    result = []
    count = 0
    for i in ast.literal_eval(obj):
        if(count!=3):
            result.append(i["name"])
    return result

In [40]:
movies["cast"] = movies["cast_x"].apply(getActorList)
movies.drop(columns=["cast_x"],inplace=True)
movies

,id,genres,overview,title,keywords,crew_x,cast
0,862,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney..."
1,8844,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,Jumanji,"[board game, disappearance, based on children'...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,..."
2,15602,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[{'credit_id': '52fe466a9251416c75077a89', 'de...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop..."
3,31357,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[based on novel, interracial relationship, sin...","[{'credit_id': '52fe44779251416c91011acb', 'de...","[Whitney Houston, Angela Bassett, Loretta Devi..."
4,11862,[Comedy],Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[{'credit_id': '52fe44959251416c75039ed7', 'de...","[Steve Martin, Diane Keaton, Martin Short, Kim..."
...,...,...,...,...,...,...,...
46933,439050,"[Drama, Family]",Rising and falling between a man and woman.,Subdue,[tragic love],"[{'credit_id': '5894a97d925141426c00818c', 'de...","[Leila Hatami, Kourosh Tahami, Elham Korda]"
46934,111109,[Drama],An artist struggles to finish his work while a...,Century of Birthing,"[artist, play, pinoy]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...","[Angel Aquino, Perry Dizon, Hazel Orencio, Joe..."
46935,67758,"[Action, Drama, Thriller]","When one of her hits goes wrong, a professiona...",Betrayal,[],"[{'credit_id': '52fe4776c3a368484e0c8387', 'de...","[Erika Eleniak, Adam Baldwin, Julie du Page, J..."
46936,227506,[],"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[{'credit_id': '533bccebc3a36844cf0011a7', 'de...","[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa..."
46937,461257,[],50 years after decriminalisation of homosexual...,Queerama,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",[]

In [42]:
#get director name
def getDirectorName(obj):
    result = []
    for i in ast.literal_eval(obj):
        if(i["job"] == "Director"):
            result.append(i["name"])
    return result

In [44]:
movies["director"] = movies["crew_x"].apply(getDirectorName)
movies.drop(columns=["crew_x"], inplace=True)
movies

,id,genres,overview,title,keywords,cast,director
0,862,"[Animation, Comedy, Family]","Led by Woody, Andy's toys live happily in his ...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,"[Adventure, Fantasy, Family]",When siblings Judy and Peter discover an encha...,Jumanji,"[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,"[Romance, Comedy]",A family wedding reignites the ancient feud be...,Grumpier Old Men,"[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]
3,31357,"[Comedy, Drama, Romance]","Cheated on, mistreated and stepped on, the wom...",Waiting to Exhale,"[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devi...",[Forest Whitaker]
4,11862,[Comedy],Just when George Banks has recovered from his ...,Father of the Bride Part II,"[baby, midlife crisis, confidence, aging, daug...","[Steve Martin, Diane Keaton, Martin Short, Kim...",[Charles Shyer]
...,...,...,...,...,...,...,...
46933,439050,"[Drama, Family]",Rising and falling between a man and woman.,Subdue,[tragic love],"[Leila Hatami, Kourosh Tahami, Elham Korda]",[Hamid Nematollah]
46934,111109,[Drama],An artist struggles to finish his work while a...,Century of Birthing,"[artist, play, pinoy]","[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",[Lav Diaz]
46935,67758,"[Action, Drama, Thriller]","When one of her hits goes wrong, a professiona...",Betrayal,[],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...",[Mark L. Lester]
46936,227506,[],"In a small town live two brothers, one a minis...",Satan Triumphant,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",[Yakov Protazanov]
46937,461257,[],50 years after decriminalisation of homosexual...,Queerama,[],[],[Daisy Asquith]

In [46]:
movies["genres"] = movies["genres"].apply(lambda x:[i.replace(" ","") for i in x])
movies["keywords"] = movies["keywords"].apply(lambda x:[i.replace(" ","") for i in x])
movies["cast"] = movies["cast"].apply(lambda x:[i.replace(" ","") for i in x])
movies["director"] = movies["director"].apply(lambda x:[i.replace(" ","") for i in x])
movies["overview"] = movies["overview"].apply(lambda x:x.split())

In [48]:
movies

,id,genres,overview,title,keywords,cast,director
0,862,"[Animation, Comedy, Family]","[Led, by, Woody,, Andy's, toys, live, happily,...",Toy Story,"[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,"[Adventure, Fantasy, Family]","[When, siblings, Judy, and, Peter, discover, a...",Jumanji,"[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]
2,15602,"[Romance, Comedy]","[A, family, wedding, reignites, the, ancient, ...",Grumpier Old Men,"[fishing, bestfriend, duringcreditsstinger, ol...","[WalterMatthau, JackLemmon, Ann-Margret, Sophi...",[HowardDeutch]
3,31357,"[Comedy, Drama, Romance]","[Cheated, on,, mistreated, and, stepped, on,, ...",Waiting to Exhale,"[basedonnovel, interracialrelationship, single...","[WhitneyHouston, AngelaBassett, LorettaDevine,...",[ForestWhitaker]
4,11862,[Comedy],"[Just, when, George, Banks, has, recovered, fr...",Father of the Bride Part II,"[baby, midlifecrisis, confidence, aging, daugh...","[SteveMartin, DianeKeaton, MartinShort, Kimber...",[CharlesShyer]
...,...,...,...,...,...,...,...
46933,439050,"[Drama, Family]","[Rising, and, falling, between, a, man, and, w...",Subdue,[tragiclove],"[LeilaHatami, KouroshTahami, ElhamKorda]",[HamidNematollah]
46934,111109,[Drama],"[An, artist, struggles, to, finish, his, work,...",Century of Birthing,"[artist, play, pinoy]","[AngelAquino, PerryDizon, HazelOrencio, JoelTo...",[LavDiaz]
46935,67758,"[Action, Drama, Thriller]","[When, one, of, her, hits, goes, wrong,, a, pr...",Betrayal,[],"[ErikaEleniak, AdamBaldwin, JulieduPage, James...",[MarkL.Lester]
46936,227506,[],"[In, a, small, town, live, two, brothers,, one...",Satan Triumphant,[],"[IwanMosschuchin, NathalieLissenko, PavelPavlo...",[YakovProtazanov]
46937,461257,[],"[50, years, after, decriminalisation, of, homo...",Queerama,[],[],[DaisyAsquith]

In [50]:
final_df = movies[["id"]]

In [52]:
final_df["tags"] = (
    movies["genres"].apply(lambda x: x if isinstance(x, list) else [x]) +
    movies["overview"].apply(lambda x: x if isinstance(x, list) else [x]) +
    movies["title"].apply(lambda x: x if isinstance(x, list) else [x]) +
    movies["keywords"].apply(lambda x: x if isinstance(x, list) else [x]) +
    movies["cast"].apply(lambda x: x if isinstance(x, list) else [x]) +
    movies["director"].apply(lambda x: x if isinstance(x, list) else [x])
)

/tmp/ipykernel_6901/1087663813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = (

In [54]:
final_df

           id                                               tags
0         862  [Animation, Comedy, Family, Led, by, Woody,, A...
1        8844  [Adventure, Fantasy, Family, When, siblings, J...
2       15602  [Romance, Comedy, A, family, wedding, reignite...
3       31357  [Comedy, Drama, Romance, Cheated, on,, mistrea...
4       11862  [Comedy, Just, when, George, Banks, has, recov...
...       ...                                                ...
46933  439050  [Drama, Family, Rising, and, falling, between,...
46934  111109  [Drama, An, artist, struggles, to, finish, his...
46935   67758  [Action, Drama, Thriller, When, one, of, her, ...
46936  227506  [In, a, small, town, live, two, brothers,, one...
46937  461257  [50, years, after, decriminalisation, of, homo...

[44482 rows x 2 columns]

In [56]:
final_df["tags"] = final_df["tags"].apply(lambda x: " ".join(x))

/tmp/ipykernel_6901/262558279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].apply(lambda x: " ".join(x))

In [58]:
final_df

           id                                               tags
0         862  Animation Comedy Family Led by Woody, Andy's t...
1        8844  Adventure Fantasy Family When siblings Judy an...
2       15602  Romance Comedy A family wedding reignites the ...
3       31357  Comedy Drama Romance Cheated on, mistreated an...
4       11862  Comedy Just when George Banks has recovered fr...
...       ...                                                ...
46933  439050  Drama Family Rising and falling between a man ...
46934  111109  Drama An artist struggles to finish his work w...
46935   67758  Action Drama Thriller When one of her hits goe...
46936  227506  In a small town live two brothers, one a minis...
46937  461257  50 years after decriminalisation of homosexual...

[44482 rows x 2 columns]

In [60]:
final_df["title"] = movies["title"]

/tmp/ipykernel_6901/249966847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["title"] = movies["title"]

In [62]:
final_df.head()

,id,tags,title
0,862,"Animation Comedy Family Led by Woody, Andy's t...",Toy Story
1,8844,Adventure Fantasy Family When siblings Judy an...,Jumanji
2,15602,Romance Comedy A family wedding reignites the ...,Grumpier Old Men
3,31357,"Comedy Drama Romance Cheated on, mistreated an...",Waiting to Exhale
4,11862,Comedy Just when George Banks has recovered fr...,Father of the Bride Part II

In [64]:
final_df["tags"] = final_df["tags"].apply(lambda x : x.lower())

/tmp/ipykernel_6901/1046835274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].apply(lambda x : x.lower())

In [66]:
final_df["tags"][0]

"animation comedy family led by woody, andy's toys live happily in his room until andy's birthday brings buzz lightyear onto the scene. afraid of losing his place in andy's heart, woody plots against buzz. but when circumstances separate buzz and woody from their owner, the duo eventually learns to put aside their differences. toy story jealousy toy boy friendship friends rivalry boynextdoor newtoy toycomestolife tomhanks timallen donrickles jimvarney wallaceshawn johnratzenberger anniepotts johnmorris erikvondetten lauriemetcalf r.leeermey sarahfreeman pennjillette johnlasseter"

In [68]:
#stemming
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    arr = []
    for i in text.split():
        arr.append(ps.stem(i))

    return " ".join(arr)

In [72]:
final_df["tags"] = final_df["tags"].apply(stem)
final_df

/tmp/ipykernel_6901/3561482124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df["tags"] = final_df["tags"].apply(stem)

,id,tags,title
0,862,"anim comedi famili led by woody, andy' toy liv...",Toy Story
1,8844,adventur fantasi famili when sibl judi and pet...,Jumanji
2,15602,romanc comedi a famili wed reignit the ancient...,Grumpier Old Men
3,31357,"comedi drama romanc cheat on, mistreat and ste...",Waiting to Exhale
4,11862,comedi just when georg bank ha recov from hi d...,Father of the Bride Part II
...,...,...,...
46933,439050,drama famili rise and fall between a man and w...,Subdue
46934,111109,drama an artist struggl to finish hi work whil...,Century of Birthing
46935,67758,action drama thriller when one of her hit goe ...,Betrayal
46936,227506,"in a small town live two brothers, one a minis...",Satan Triumphant
46937,461257,50 year after decriminali of homosexu in the u...,Queerama

In [74]:
final_df["tags"][0]

"anim comedi famili led by woody, andy' toy live happili in hi room until andy' birthday bring buzz lightyear onto the scene. afraid of lose hi place in andy' heart, woodi plot against buzz. but when circumst separ buzz and woodi from their owner, the duo eventu learn to put asid their differences. toy stori jealousi toy boy friendship friend rivalri boynextdoor newtoy toycomestolif tomhank timallen donrickl jimvarney wallaceshawn johnratzenberg anniepott johnmorri erikvondetten lauriemetcalf r.leeermey sarahfreeman pennjillett johnlasset"

In [76]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(stop_words='english',max_features=5000) 
tfidf_matrix = tfidf_vectorizer.fit_transform(final_df["tags"])

In [80]:
# now calculating the similarity between movies using cosine similarity
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tfidf_matrix)

In [89]:
def recommend(movie):
    if movie not in final_df["title"].values:
        print("Movie not found in dataset.")
        return
    
    # Find the index of the movie
    movie_index = final_df[final_df["title"] == movie].index[0]

    # Get similarity scores for the movie
    distance_arr = similarity[movie_index]

    # Get top 5 most similar movies (excluding the movie itself)
    movies_list = sorted(
        list(enumerate(distance_arr)), 
        reverse=True, 
        key=lambda x: x[1]
    )[1:6]  # Skip the first one (itself)

    # Print recommended movies and genres
    for i in movies_list:
        print(movies.iloc[i[0]].title, "-", movies.iloc[i[0]].genres)

In [91]:
recommend("Jumanji")

Game Over - ['Crime', 'Drama', 'Thriller']
The Dark Angel - ['Romance', 'Drama']
Liar Game: Reborn - ['Drama']
Table No. 21 - ['Adventure', 'Thriller']
The Mend - ['Comedy']